section img{
	width: 33%;
}

.row.\31 50\25>* {
  padding: 0 0 0 1.5em;
}




.wrapper.style2 .profiles {
 
  margin-bottom: 1em;
  padding-top: 4em;
}

section.lastrow{
margin-bottom: 4em;
}

p#joinus {
  font-size: 2.5em;
  font-family: "微软雅黑";
  margin-top: 2em;
  margin-bottom: 0.7em;
}

img#wechat2dcode{
	width: 50%;
}

