*{
	margin:0;
	padding:0;
}
h3,label,span{
	font-family: "Yahei";
}
body{
	width: 100%;
	/*height: 1000px;*/
	background: url('../img/bg.jpg');
	padding-top: 50px;
	position: relative;
}
body h1{
	/*display: block;*/
	width:69%;
	margin:0 auto;
}
body h1 img{
	width: 100%;
}
body h3{
	width: 18%;
	margin:0 auto;
	color:#8d8d8d;
	font-size: 20px;
	padding-top: 30px;
}
form{
	width:71%;
	margin:0 auto;
	margin-top: 90px;
}
form fieldset{
	border:none;
}
form label , form input , form textarea{
	display: block;
}
form label{
	font-size:34px; 
	color: #8e8e8e;
	padding-left:20px;
	margin-bottom: 30px;
}
form input{
	width:100%;
	height:70px;
	line-height: 70px\9;
	color:#8d8d8d;
	font-size: 40px;
	padding: 10px;
	margin-bottom: 100px;
	background-color: #e8e8e8;
	border:none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-appearance: caret;
    -moz-appearance: caret;
}
form textarea{
	width:100%;
	color:#8d8d8d;
	padding: 10px;
	font-size: 40px;
	background-color: #e8e8e8;
	border:none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-appearance: caret;
    -moz-appearance: caret;
}
/*button*/
.buttonWrapper{
	width:40.6%;
	position: relative;
	margin:0 auto;
	padding-top: 20px;
}
#btn_moreDetail , #btn_submit , #btn_submitAll{
	border:none;
	width:28.2%;
	float: left;
	background: none;
}
button#btn_submit{
	float: right;
}
#btn_moreDetail img , #btn_submit img{
	width: 100%;
}
#leftArrow , #rightArrow , #text_moreDetail ,#text_submit , #submitAllArrow , #text_submitAll{
	position: absolute;
}
#leftArrow , #rightArrow{
	width:10.6%;
}
#leftArrow{
	left:-13%;
	top:0px;
}
#text_moreDetail ,#text_submit , #text_submitAll{
	color:#8e8e8e;
	font-size: 20px;
}
#text_moreDetail{
	left:-3%;
	top:-10px;
}
#rightArrow{
	right:-13%;
	top:60px;
}
#text_submit{
	right:-13%;
	top:130px;
}
/*option item fieldset*/
#mustItem{
	margin-bottom: 300px;
}
#optionalItem{
	width: 100%;
	/*margin-top: 300px;*/
	display: none;
}
#opt_bg{
	width:100%;
	position: absolute;
	top:45%;
	display: none;
}
#tellUs span , #Apt span{
	display: block;
	font-size: 20px;
	padding-top: 10px;
}
.btn_submitWrapper{
	width: 18.8%;
	margin:0 auto;
	padding-top: 80px;
	position: relative;
}
button#btn_submitAll{
	width: 100%;
}
#btn_submitAll img{
	width: 100%;
}
#submitAllArrow{
	width:45%;
	top:150px;
}
#text_submitAll{
	width:100%;
	top:255px;
	left:8%;
}
.footer{
	width:25%;
	margin:0 auto;
	padding-top: 200px;
	padding-bottom: 10px;
	color:#8e8e8e;
}
/*----------------提交成功 style-------------------*/
body#insertSuccess p{
	color:#8d8d8d;
	font-size: 40px;
	width: 45%;
	margin:0 auto;
	margin-top: 200px;
	margin-bottom: 100px;
	line-height: 70px;
}
#backtoweixin{
	text-decoration: none;
	font-size: 40px;
	color:#c88888;
}
/*----------------招新须知 style-------------------*/
#zhaoxinItems ol{
	width:75%;
	margin:0 auto;
	margin-top:200px;
	margin-bottom: 100px;
	color:#8d8d8d;
	font-size: 40px;
}
#zhaoxinItems ol li{
	margin-top: 15px;
	line-height: 70px;
}
.connectMen{
	padding-left: 45px;
}